#Ignore in progress items
**/todo/* 

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/terraform.tfstate

# Python
.venv/

# Editor
.vscode/

# Bak
*.bak

private/
.DS_Store

__pycache__
.envrc
kubeconfig
valhalla/
talosconfig
admin/
